#left
#right
:javascript
  var player,
         config = {
              playlistUrls : ['https://soundcloud.com/potpan/new_trap'],
              clientId : '076fcc61717065186c152a88c3bb4f91'
              
         };
          player = new Player(config);
