%body
  %canvas#canvas
  #player-loading{style: "display: none;"}
    %span LOADING
  #player-container.content-centered
    #player-inner.content-centered
      #player-controls
        #player-timebar
          #player-time-position 0:00
          #player-time-total 3:45
          #player-progress-outer
            #player-progress-loading
            #player-progress-playing{:style => "width:0%"}  
          #player-volume-outer
            #player-volume-ctrl{style: "width: 50%;"}  
        / player-timebar
      / player-controls
    / player-inner
    #flash-message
  / player-container
  :javascript
  // var player,
  //        config = {
  //             playlistUrls : ['https://soundcloud.com/potpan/new_trap'],
  //             clientId : '076fcc61717065186c152a88c3bb4f91'
              
  //        };
  //         player = new Player(config);


