// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/

body {
    margin: 0px;
}
#player-container {
    width: 100%;
    z-index: 200;
    position: absolute;
    top: 20px;
}
#player-container #player-inner #player-controls:hover #player-timebar {
    display: block;
}
#player-container #player-inner #player-controls #player-timebar {
    background: #111;
    border: 1px solid #272727;
    font-size: 11px;
    height: 33px;
    line-height: 33px;
    position: relative;
    width: 700px;
    z-index: 3;
    color: #eee;
    margin: auto;
}
#player-container #player-inner #player-controls #player-timebar #player-time-position {
    font-weight: 700;
    left: 0px;
    position: absolute;
    text-align: right;
    width: 35px;
    z-index: 10;
}
#player-container #player-inner #player-controls #player-timebar #player-time-total {
    left: 574px;
    position: absolute;
    z-index: 10;
    font-weight: bold;
}
#player-container #player-inner #player-controls #player-timebar #player-volume-outer {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 11px;
    border: 1px solid #aaa;
    width: 70px;
    line-height: 8px;
}
#player-container #player-inner #player-controls #player-timebar #player-volume-outer #player-volume-ctrl {
    height: 8px;
    background: orange;
}
#player-container #player-inner #player-controls #player-timebar #player-progress-outer {
    border: 1px solid #333;
    height: 8px;
    left: 50px;
    position: absolute;
    top: 11px;
    width: 500px;
}
#player-container #player-inner #player-controls #player-timebar #player-progress-outer #player-progress-playing {
    background: #84c441;
    height: 8px;
    left: 0;
    position: absolute;
    z-index: 9;
}
#player-container #player-inner #player-controls #player-timebar #player-progress-outer #player-progress-loading {
    background: #333;
    height: 8px;
    left: 0;
    position: absolute;
    z-index: 5;
    cursor: pointer;
}