!!!
%html
  %head
    %title Vizz 
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

    / TODO: move these
    / External assets
    = javascript_include_tag "http://connect.soundcloud.com/sdk.js"
    = yield